:root {
    --primary-color: #33658A;
    --secondary-color: - #86BBD8;
    --accent-1:  #F6AE2D;
    --accent-2: #F26419;
}

@font-face {
    font-family : 'Roboto';
    font-style : normal;
    font-weight : 900;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}

@font-face {
    font-family : 'Exo 2';
    font-style : normal;
    font-weight : 900;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/exo2/v21/7cH1v4okm5zmbvwkAx_sfcEuiD8jF_WcPg.ttf) format('truetype');
}

body {
    margin: 0 auto;
    max-width: 800px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

h2 {
    color: var(--accent-2);
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    color: var(--accent-2);
}

article {
    position: absolute;
    background-color: var(--accent-1);
}

article img {
   float: right;
   width: 200px;
}

section {
    display: none;
}


.sociallinks img{
    width: 24px;
}

